{% extends "base.html.twig" %}
{% block title %}
    Réinitialiser mon mot de passe oublié
{% endblock %}
{% block body %}
    <div class="h100 mt-5 mb-5">
        <div class="container h100">
            <div class="row h100">
                <div class="col-md-6 offset-md-3 h100 mt-5 mb-5">
                    {% for flash_message in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger">
                            {{ flash_message }}
                            {{ dump(app.session.flashBag.get('error')) }}
                        </div>
                    {% endfor %}
                    {% for flash_message in app.session.flashBag.get('success') %}
                        <div class="alert alert-info mt-2">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    <div class="mt-2">
                        Vous êtes sur le point de soumettre une requête pour réinitialiser votre mot de passe.
                    </div>
                    {{ form_start(form) }}
                        <div class="form-group">
                            <label>Votre nouveau mot de passe</label>
                            {{ form_widget(form) }}
                        </div>
                        <div class="form-group">
                            <button class="btn btn-blue" type="submit">Valider</button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}