<div class="my-5 px-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="_title text-red text-center">
                    Nouveau sur Mon Agence en Ligne ?
                </div>

                {% for flash_message in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger">
                        {{ flash_message }}
                    </div>
                {% endfor %}

                <form action="{{ path("register") }}" method="POST">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Prénoms : </label>
                                    {{ form_widget(form.fname) }}
                                </div>
                                <div class="col-md-6">
                                    <label>Noms : </label>
                                    {{ form_widget(form.lname) }}
                                </div>
                            </div>
                        </div>

                    <div class="form-group">
                        <label>Email : </label>
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.plainPassword) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.acceptedRules) }} <span class="text-red">*</span> J'ai lu et j'accepte la politique de confidentialité
                    </div>
                    <div class="form-group">	
                        <a href="{{ path("politique_confidentialite") }}" class="link-text-gray text-underlined">Voir notre politique de confidentialité</a>
                    </div>
                    <div class="form-group text-center">
                        {{ form_rest(form) }} 
                        <button class="btn btn-primary" type="submit">Commencer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>